<application
    android:theme="@android:style/Theme.Material.Light.NoActionBar"
    android:label="Run Tracker"
    android:allowBackup="true">

    <activity
        android:name=".MainActivity"
        android:exported="true">
        
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>

    <activity
        android:name=".HistoryActivity"
        android:exported="false" />

    <service
        android:name=".TrackingService"
        android:foregroundServiceType="location"
        android:exported="false" />

</application>
